/* Using maximum specificity to make sure styles are not overwritten */

:root {
    /* Magic Numbers */
    --bsf-save-btn-left-side-width: 24.5px;
    --bsf-save-btn-left-side-padding: 6.5px;
    --bsf-save-btn-icon-translate-y: 3px;
    --bsf-save-btn-sides-gap-width: 28px;
    --bsf-save-btn-right-side-padding: 8.5px;
    --bsf-save-btn-right-side-text-to-icon-gap: var(--bsf-save-btn-right-side-padding);
    /* Yt action btn height is a static 35.9896px but achieved through other styles not the height param */
    /* FIXME Github issue #1 (manifest -> homepage_url) */
    --bsf-yt-action-btn-height: 35.99px;
}

/****************** Basic YouTube Video ******************/

/* General */
html body
/* YT Specific*/
#actions #actions-inner #menu #top-level-buttons-computed
/* SF Specific */
.sf-quick-dl-btn {
    height: var(--bsf-yt-action-btn-height) !important;
    background-color: var(--yt-spec-static-overlay-button-secondary,rgba(255,255,255,.1)) !important;
    border: none !important;
    border-left: solid var(--bsf-save-btn-left-side-padding) transparent !important;
    padding-left: var(--bsf-save-btn-left-side-width) !important;
    padding-right: calc(var(--bsf-save-btn-sides-gap-width)/2) !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
.sf-quick-dl-btn:hover {
    background-color: var(--yt-spec-button-chip-background-hover,rgba(255,255,255,.2)) !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
.sf-quick-dl-btn i {
    transform: translateY(var(--bsf-save-btn-icon-translate-y)) !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
#savefrom__yt_btn .sf-quick-dl-btn span.sf-btn-name {
    display: none !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
#savefrom__yt_btn button {
    height: var(--bsf-yt-action-btn-height) !important;
    background-color: var(--yt-spec-static-overlay-button-secondary,rgba(255,255,255,.1)) !important;
    border-width: 0 !important;
    border-color: transparent !important;
    border-right: solid var(--bsf-save-btn-right-side-padding) transparent !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: calc(var(--bsf-save-btn-sides-gap-width)/2) !important;
    /* Hardcoding 15 as a base value from SaveFrom.net to achieve 0 space between span and i on button */
    padding-right: calc(15px + var(--bsf-save-btn-right-side-text-to-icon-gap)) !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
#savefrom__yt_btn button:hover {
    background-color: var(--yt-spec-button-chip-background-hover,rgba(255,255,255,.2)) !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
#savefrom__yt_btn button span {
    color: var(--yt-spec-text-primary,rgb(241, 241, 241)) !important;

    /* Hardcoded in .yt-spec-button-shape-next */
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: "Roboto", "Arial", sans-serif !important;
}

html body
#actions #actions-inner #menu #top-level-buttons-computed
#savefrom__yt_btn button i {
    transform: translateY(var(--bsf-save-btn-icon-translate-y)) !important;
    border-color: var(--yt-spec-text-primary,rgb(241, 241, 241)) transparent transparent !important;
}

/****************** Short YouTube Video ******************/

/* TODO Add Shorts Support*/
